* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
    outline: none;
    scrollbar-width: thin;
    scrollbar-color: #111 #222;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: calc(100% - 64px);
    margin: 0 auto;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #222;
    background-image: url("./images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.poster {
    padding: 50px 0;

    &__logo {
        display: block;
        width: 100%;
        height: unset;
        max-width: 600px;
        margin: 0 auto;
    }
}

.rollette {
    margin: 0 auto 100px;

    &__arrow {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 10px;
        transform: translate(-50%, 0);
        z-index: 2;
        background: #61616133;
        width: 2px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            --size: 50px;
            transform: translate(-50%, 0);
            width: 0;
            height: 0;
            left: 50%;
        }

        &:before {
            top: 0;
            border-top: var(--size) solid #222;
            border-bottom: var(--size) solid transparent;
        }

        &:after {
            bottom: 0;
            border-top: var(--size) solid transparent;
            border-bottom: var(--size) solid #222;
        }
    }

    &__slider {
        position: relative;
        overflow: hidden;
        background: #111;
        border: 4px solid #222;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
    }

    &__btn {
        display: block;
        width: fit-content;
        margin: 0 auto;
        color: #85fff9;
        border: 2px solid #85fff9;
        text-decoration: none;
        border-radius: 10px;
        padding: 20px 60px;
        cursor: pointer;
        transition: opacity .3s ease;

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    }

    &__wrapper {
        display: flex;
        width: fit-content;
        gap: 24px;

        &.active {
            transform: translateX(-60140px);
            transition: 20s ease-out;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        --accent: #222;
        width: 240px;
        aspect-ratio: 1 / 1.3;
        border: 4px solid var(--accent);
        border-radius: 10px;
        padding: 50px 50px;
        color: var(--accent);
        text-align: center;
        filter: drop-shadow(0px 0px 9px var(--accent));

        &:before {
            content: '';
            position: relative;
            display: block;
            width: 100px;
            aspect-ratio: 2 / 1;
            background-color: var(--accent);
            margin-bottom: 20px;
            mask: url("./images/icon.png") no-repeat center center / contain;
            margin-bottom: auto;
        }

        &.crystal {
            --accent: #85fff9;
        }

        &.green {
            --accent: #8eff80;
        }

        &.orange {
            --accent: #ffc964;
        }

        &.red {
            --accent: #ff5757;
        }
    }
}

.volume {
    position: fixed;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
    top: 20px;
    right: 20px;
    opacity: 0.2;
    transition: opacity .3s ease;

    &:hover {
        opacity: 1;
    }

    input[type='checkbox'] {
        display: block;
        background: #fff;
        width: 30px;
        aspect-ratio: 1 / 1;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        mask: url("./images/novolume.svg") no-repeat center center / contain;

        &:checked {
            mask: url("./images/volume.svg") no-repeat center center / contain;
        }
    }

    span {
        position: relative;
        display: block;
        height: 8px;
        width: 150px;
        border-radius: 100px;
        background: #444;
        --width: attr(data-value number);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #fff;
            width: calc(100% * var(--width));
            border-radius: 100px;
            // box-shadow: -2px 0 8px 1px #fff;
        }
    }

    input[type='range'] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        z-index: 1;

        &::-webkit-slider-thumb {
            appearance: none;
            display: block;
            width: 20px;
            aspect-ratio: 1 / 1;
            background: #fff;
            border: 3px solid #666;
            border-radius: 50%;
        }
    }
}

.modalwindow {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 66;
    inset: 0;
    background: #0008;
    backdrop-filter: blur(8px);
    --accent: #fff;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    &__wrapper {
        position: relative;
        background: #222;
        padding: 64px;
        border-radius: 15px;
        width: calc(100% - 32px);
        max-width: 720px;
        --accent: #222;

        &.crystal {
            --accent: #85fff9;
        }

        &.red {
            --accent: #ff5757;
        }

        &.orange {
            --accent: #ffc964;
        }

        &.green {
            --accent: #8eff80;
        }

        &:after {
            content: '';
            position: absolute;
            inset: 20px;
            border: 3px solid var(--accent);
            border-radius: 10px;
            pointer-events: none;
            box-shadow: 0 0 8px var(--accent), inset 0 0 8px var(--accent);
        }

        h3 {
            display: block;
            color: #fff;
            font-size: 32px;
        }

        p {
            color: #fff;
            margin: 20px 0;
        }
        h2 {
            color: #fff;
            margin: 30px 0 10px;
            font-size: 20px;
        }

        span {
            display: block;
            color: #fff;
            font-weight: 300;
        }

    }

    &__close {
        display: block;
        width: fit-content;
        margin: 0 auto;
        color: var(--accent);
        border: 2px solid var(--accent);
        text-decoration: none;
        border-radius: 10px;
        padding: 20px 60px;
        cursor: pointer;
        transition: opacity .3s ease;
        margin-top: 50px;
        text-shadow: 0 0 8px var(--accent);
        box-shadow: 0 0 8px var(--accent), inset 0 0 8px var(--accent);
    }
}